:root {
    --color1: #353535;
    --color2: #3c6e71;
    --color3: #ffffff;
    --color4: #d9d9d9;
    --color5: #284b63;
    --color6: #3e6d8d;
}

#navContainer {
    background-color: var(--color2) !important;
    color: var(--color4);
    /* height: 60px; */
}

a {
    color: var(--color3) !important;
    font-style: none !important;
}

.nav-link:hover {
    transform: scale(1.1);
}

.navbar-brand:hover {
    transform: scale(1.1);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.nav-font-open a {
    color: var(--color5) !important;
    
}

@media (max-width: 990px) {
    .nav-link {
        width: 150px;
    }
}