:root {
    --color1: #353535;
    --color2: #3c6e71;
    --color3: #ffffff;
    --color4: #d9d9d9;
    --color5: #284b63;
    --color6: rgb(247, 244, 244) 
}
#login-text {
 color: var(--color4) !important;   
}

#link-color:hover {
color: #eb2a10 !important
}

.order-history{
    max-width: 30vw;
    min-width: 30vw;
    height: auto;
    justify-content: center;
    border-radius: 25px;
    margin-bottom: 2vh; 
    margin-top: 2vh;
    border: 1px solid transparent;
    background-color: rgb(245, 243, 243) !important;
}

.item-card{
    background-color: transparent !important;
    border-color: transparent !important;
}

#price-span{
    font-size: 50px !important;

}

#name-tag{
    font-style: none !important;
    margin-bottom: 3vh;
    max-width: 80%;

}
#o-name,#o-date,#o-id,#price-span,#name-tag,.line-sep,#link-color{
    color:white !important;
}

.line-sep{
    margin-bottom: 50px;
}

.order-info {
    text-align: right;
}

#whiteText {
    color: white;
}