#trash {
    cursor: pointer;
}

img {
    cursor: pointer;
}

.del-item {
    cursor: pointer;
    color: rgb(197, 19, 19);
}

.del-item:hover {
    transform: scale(1.1);
}

.cart-item-display {
    text-align: center;
    width: 22vw;
}

.cartInput {
    border-radius: 5px;
}

.cart-item-img {
    mix-blend-mode: darken;   
}
