:root {
    --color1: #353535;
    --color2: #3c6e71;
    --color3: #ffffff;
    --color4: #d9d9d9;
    --color5: #284b63;
    --color6: rgb(247, 244, 244) 
}

#navContainer {
    background-color: var(--color2) !important;
    color: var(--color4);
}

a {
    color: var(--color3) !important;
    font-style: none !important;
}
.product-card {
    border-radius: 25px !important;
border: 1px solid transparent;
background-color: rgb(238, 229, 229, 0.6) !important;
color: white;
}

.cardImage {
mix-blend-mode: darken;    

}

